PROCORE_CLIENT_ID=
PROCORE_CLIENT_SECRET=
PROCORE_TOKEN_ENCRYPTION_KEY=
PROCORE_COMPANY_ID=
PROCORE_REDIRECT_URI=http://localhost:3000/api/procore/oauth/callback
PROCORE_BASE_URL=https://api.procore.com
PROCORE_AUTH_URL=https://login.procore.com
APP_URL=http://localhost:3000
LOCAL_ADMIN_PASSWORD=
LOCAL_PM_PASSWORD=
LOCAL_FIELD_PASSWORD=
LOCAL_USER_PASSWORD=
