PROCORE_CLIENT_ID=
PROCORE_CLIENT_SECRET=
PROCORE_TOKEN_ENCRYPTION_KEY=
PROCORE_COMPANY_ID=
PROCORE_REDIRECT_URI=http://localhost:3000/api/procore/oauth/callback
PROCORE_BASE_URL=https://api.procore.com
PROCORE_AUTH_URL=https://login.procore.com
APP_URL=http://localhost:3000
NETSUITE_ACCOUNT_ID=
NETSUITE_CLIENT_ID=
NETSUITE_CERTIFICATE_ID=
NETSUITE_PRIVATE_KEY=
NETSUITE_SCOPE=rest_webservices
NETSUITE_REST_BASE_URL=
AUTH_SESSION_SECRET=
LOCAL_ADMIN_PASSWORD=
LOCAL_PM_PASSWORD=
LOCAL_FIELD_PASSWORD=
LOCAL_USER_PASSWORD=
